<div class="container">
    <h1><%- title %></h1>
    <p>Confirm Deletion - This delete is permanent.</p>
    <% if (messages.length> 0) { %>
        <% messages.forEach(message=> { %>
            <div class="alert alert-<%= message.type %>">
                <%= message.text %>
            </div>
        <% }) %>
    <% } %>

    <% if (errors.length> 0) { %>
        <% errors.forEach(error=> { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% }) %>
    <% } %>
    <form id="deleteForm" action="/inv/delete/<%= inv_id %>" method="post">
        <div class="form-group">
            <label for="inv_make">Make:</label>
            <input type="text" id="inv_make" name="inv_make" readonly
                value="<%= locals.inv_make %>">
        </div>
        <div class="form-group">
            <label for="inv_model">Model:</label>
            <input type="text" id="inv_model" name="inv_model" readonly
                value="<%= locals.inv_model %>">
        </div>
        <div class="form-group">
            <label for="inv_year">Year:</label>
            <input type="number" id="inv_year" name="inv_year" readonly
                value="<%= locals.inv_year %>">
        </div>
        <div class="form-group">
            <label for="inv_price">Price:</label>
            <input type="number" id="inv_price" name="inv_price" readonly
                value="<%= locals.inv_price%>">
        </div>
        <button type="submit">Delete</button>
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%=
            locals.inv_id %>"
            <% } %>>
    </form>
</div>